* {
	margin: 0;
}

.hero-container {
	height: 100vh;
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-image: url(./IMAGENS/fotoPI.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0px;

}

.logotipo {
	margin-left: 50px;
	padding: 20px;
	border-radius: 20px;
	margin-top: 200px;
}

h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 40px;
	color: white;
	align-items: center;
	display: flex;
	align-items: center;
	padding: 15px;
	margin-left: 50px;
	margin-bottom: 450px;
	margin-right: 250px;
	margin-top: 50px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 10px 5px grey;
}

.subtitulo {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;
	color: black;
	bottom: 300px;
	margin-left: 50PX;
	margin-top: 5px;
	text-decoration: double;
	border: 1px solid #fff;
	border-radius: 10px;
	margin-right: 800px;
	padding: 10px;
	background-color: antiquewhite;
	align-items: flex-start;
	display: inline-block;
	position: relative;
	box-shadow: 10px 5px grey;
}

nav {
	width: 50px;
	
}


.menu {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;
	color: white;
	bottom: 120px;
	margin-left: 50PX;
	margin-top: 5px;
	text-decoration: double;
	border: 1px solid #fff;
	border-radius: 10px;
	margin-right: 800px;
	padding-right:80px;
	display: inline-block;
	position: absolute;
	line-height: 1.5;
	box-shadow: 10px 5px grey;
	word-spacing: 20px;
	cursor: pointer;
}

li:hover {
	color: #D870D8
}



.content-container {
	height: 100vh;
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-image: url(./IMAGENS/pngtree-digital-information-technology-network-vector-background-design-image_466270.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0px;
}

.titulo {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 40px;
	color: white;
	align-items: center;
	display: flex;
	padding: 15px;
	margin-left: 50px;
	margin-bottom: 800px;
	margin-right: 250px;
	margin-top: 0px;
	border: 2px solid white;
	border-radius: 10px;
	box-shadow: 10px 5px grey;
}

.profile-content {
	width: 30%;
}


.profile-text {
	padding: 20px;
}

.profile-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	background: #fff;
	padding: 30px;
	border-radius: 8px;
}

.profile-image {
	width: 150px;
	height: auto;
	border-radius: 50%;
	border: 4px solid #D870D8;
}

.name-text {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-top: 12px;
}

.profile-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	text-align: center;
	width: 80%;
	margin-top: 10px;
}

.profile-button {
	width: 300px;
	height: 70px;
	border-radius: 15px;
	border: solid;
	background-color: #c2e5f3;
	background-image: url(./linkedin-gratis-vetor.jpg);
	background-repeat: no-repeat;
	cursor: pointer;
	color: #302cfc;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 30px;
	margin-top: 30px;
	font-weight: bold;
}


.divider {
	width: 100%;
	border-top: .5px solid #bfbfbf21;
	margin: 20px 0;
}

.icons-container {
	display: flex;
	width: 90%;
	justify-content: space-around;
}

.icon-item {
	width: 100%;
	height: auto;
}

.profile-sinopse {
	width: 400px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 25px;
}

.project-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./imagem\ tec\ fundo.avif);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.project-text {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 25px;
}

.project-content {
	width: 75%;
	height: 80%;
	display: grid;
	grid-template-rows: repeat(1fr, 3);
}

.position-container {
	width: 100%;
	display: flex;
}

.right {
	justify-content: end;
	margin-left: 50px;
}

.left {
	justify-content: flex-start;
	margin-top: 50px;
	margin-bottom: 20px;
}

.project-card {
	width: 850px;
	height: 350px;
	background-color: black;
	box-shadow: 10px 10px 5px black;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

.card-reverse {
	flex-direction: row-reverse;
}

.project-image {
	width: 900px;
	height: auto;
	position: relative;
	border-radius: 8px;
	right: 20px;
	top: 10px;
}

.image-reverse {
	left: 20px;
}